.container {
    margin-top: 100px;
}

h3 {
    text-align: center;
}

b {
    color: #ffd54e;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn, .btn:hover, .btn:active {
    background-color: #ffd54e;
    color: black
}



a {
    text-decoration: none;
    color: black;
}